<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <h1>Welcome to the YOLOv5 Prediction API</h1>
    <a href="{{ url_for('upload_predict') }}">Upload and Predict</a>
</body>
</html>
